[MESSAGES CONTROL]

disable =
    bad-continuation, # https://github.com/PyCQA/pylint/issues/2944
    # TODO(ssbarnea): remove temporary skips adding during initial adoption:
    import-error,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    too-few-public-methods,
    wrong-import-order,
